@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply m-2;
  @apply md:m-7;
  @apply bg-primary;
  font-family: "Poppins", "Courier New", Courier, monospace;
  @apply text-white;

  &.aside-menu-open {
    overflow-y: hidden;
    .aside-menu {
      @apply w-72;
      @apply py-6;
      @apply px-4;
    }
    .layer {
      @apply h-full;
    }
  }
}

.react-select__control {
  min-height: 30px !important;
  background-color: transparent !important;
  @apply border #{!important};
  @apply border-b-2 #{!important};
  @apply border-grey-500 #{!important};
  &:hover {
    @apply border;
    @apply border-secondary;
  }
}
.react-select__multi-value {
  color: violet;
  @apply bg-primary-light #{!important};
  @apply text-white #{!important};
  .react-select__multi-value__label {
    @apply text-white #{!important};
  }
}

.react-select__option {
  @apply text-primary #{!important};
}

.react-select__option--is-focused {
  @apply bg-primary-light #{!important};
  @apply text-white #{!important};
}

.react-select__placeholder {
  @apply text-primary;
}

.react-select__option--is-selected {
  @apply bg-primary #{!important};
  @apply text-white #{!important};
}

.react-select__value-container {
  padding: 0px 8px;
}

.react-select__single-value {
  @apply text-secondary #{!important};
  @apply text-xl #{!important};
}

.react-select__dropdown-indicator {
  padding: 6px;
}

.ellipsis-effect {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
